:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --button-blue-color: #2196f3;
  --button-hover-color: #188ce8;
  --main-hiro-color: #2f303a;
  --logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --bgd-button-color: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

/* ============GENERAL DROPPING============ */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: default;
}

img {
  display: block;
}

/* ============END GENERAL DROPPING========= */

/* ============CONTAINER=================== */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ============ HEADER=================== */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-nav-contacts {
  display: flex;
  margin-left: auto;
}

.logo,
.header-nav-link,
.link-contact {
  display: block;

  cursor: pointer;
}

.header-nav-contacts .header-list-contacts + .header-list-contacts {
  margin-left: 30px;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.colorword {
  color: var(--button-blue-color);
}

.logo {
  margin-right: 93px;

  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  text-decoration: none;
}

.header-nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.link-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--button-blue-color);
}

.link-contact:hover,
.link-contact:focus {
  color: var(--button-blue-color);
}

.current.header-nav-link {
  color: var(--button-blue-color);
}
/* ============END HEADER================== */

/* ============HERO======================== */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--main-hiro-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button-hero {
  padding: 10px 32px;

  background-color: var(--button-blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-white-color);
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hover-color);
}

/* ================END HERO=================== */

/* ===============ADVANTAGE================== */

.advantage-list {
  display: flex;
}

.advantage {
  padding-top: 94px;
}

.advantage-list .advantage-list-item + .advantage-list-item {
  margin-left: 30px;
}

.advantage-list-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--title-text-color);
}
/* ================END ADVANTAGE=========== */

/* =============OUR WORKS AND TEAM=======*/

.work-list,
.team-list {
  display: flex;
}

.work-list .work-list-item + .work-list-item,
.team-list .team-list-item + .team-list-item {
  margin-left: 30px;
}

.team-container {
  padding: 30px 10px;
}

.work-title,
.title-team {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.team-title-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-align: center;
}

.team-title-proffesion {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--bgd-button-color);
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list-item {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* ========END OUR WORKS AND TEAM=============== */

/* ============PORTFOLIO=========================D */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--primary-white-color);
}

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  padding-bottom: 16px;
}

.portfolio-button {
  padding: 6px 22px;

  background-color: var(--bgd-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  cursor: pointer;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}

.portfolio-list-button .portfolio-list-item + .portfolio-list-item {
  margin-left: 8px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--button-blue-color);
  color: var(--primary-white-color);
}

.portfolio-button.current {
  background-color: var(--button-blue-color);
  color: var(--primary-white-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: -30px;
  margin-left: -30px;

  background: var(--primary-white-color);
}

.portfolio-list-line {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-link {
  display: block;
  cursor: pointer;
}

.portfolio-container {
  padding: 20px 24px;

  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

/* ===========END PORTFOLIO===================== */

/* ===============FOOTER======================== */

.footer {
  background-color: var(--main-hiro-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo-link {
  display: block;
  margin-bottom: 20px;

  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;

  display: block;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:active {
  color: var(--primary-white-color);
}

.address > a.link {
  color: var(--primary-white-color);
}

.footer-list .footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address > a.footer-link {
  margin-bottom: 9px;
}
